# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent

[*.xml]
indent_size = 2

# yml files
[*.yml]
indent_size = 2