version: '3.4'

services:
  nosqldata:
    image: mongo
    
  postgres:
    image: postgres
    
  cache:
    image: "redis:alpine"

  seq:
    image: datalust/seq:latest
    
  definition.api:
    image: ${DOCKER_REGISTRY-}definition.api
    build:
      context: .
      dockerfile: src/Services/Definition/Definition.Api/Dockerfile
    depends_on:
      - nosqldata
      - cache
      - seq
        
  company.api:
    image: ${DOCKER_REGISTRY-}company.api
    build:
      context: .
      dockerfile: src/Services/Company/Company.Api/Dockerfile
    depends_on:
      - postgres
      - nosqldata
      - seq
        
  job.api:
    image: ${DOCKER_REGISTRY-}job.api
    build:
      context: .
      dockerfile: src/Services/Job/Job.Api/Dockerfile
    depends_on:
      - nosqldata
      - seq