<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
      <add key="yoldascevik" value="https://nuget.pkg.github.com/yoldascevik/index.json" />
  </packageSources>
    <packageSourceCredentials>
        <yoldascevik>
            <add key="Username" value="yoldascevik" />
            <add key="ClearTextPassword" value="c12dc4d3988f1ae87dc709c573b8a48d00c6b916" />
        </yoldascevik>
    </packageSourceCredentials>
</configuration>