name: Build & Test

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install dependencies
      run: dotnet restore eCareer.sln
    - name: Build
      run: dotnet build eCareer.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test eCareer.sln --no-restore --verbosity normal
